<!--<nav class="main-nav">-->
<!--  <button class="main-nav__toggle">Меню</button>&lt;!&ndash; при реализации на JS добавляется класс с другим фоном &ndash;&gt;-->
<!--  <ul class="main-nav__list" >-->
<!--    <li *ngFor="let item of menuItems" class="main-nav__item  main-nav__item&#45;&#45;{{item.className}}">-->
<!--      <a class="main-nav__link" [routerLink]="['/projects/mishka', item.path]" [ngSwitch]="item.path">-->
<!--        <svg class="icon-search" width="17.6px" height="17.6px" *ngSwitchCase="'search-result'">-->
<!--          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>-->
<!--        </svg>-->
<!--        <svg class="icon-cart" width="20.294px" height="18.849px" *ngSwitchCase="'basket'">-->
<!--          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-cart"></use>-->
<!--        </svg>-->
<!--        {{item.name}}-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->
