

@media (min-width: 768px) {
  main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: baseline;
    align-items: baseline;
    width: 100%;
    max-width: 945px;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  main {
    max-width: 1150px;
  }
}
