<section class="promo-hit">
  <div class="promo-hit__wrapper">
    <div class="promo-hit__inner">
      <h2 class="promo-hit__title"><a class="promo-hit__item-link" href="knitted_baskets.html">Вязаные корзинки</a></h2>
      <div class="promo-hit__marker">Товар недели</div>

      <p class="promo-hit__descr">Экологически чистая пряжа, ручная работа. Доступны в шести расцветках, и трех размерах.</p>

      <ul class="promo-hit__props">
        <li class="promo-hit__prop-name">
          <span class="promo-hit__prop">Цвет:</span>
          <span class="promo-hit__prop promo-hit__prop-value">&laquo;Тиффани&raquo;/серый</span>
        </li>
        <li class="promo-hit__prop-name">
          <span class="promo-hit__prop">Диаметр:</span>
          <span class="promo-hit__prop promo-hit__prop-value">25 см</span>
        </li>
        <li class="promo-hit__prop-name">
          <span class="promo-hit__prop">Высота:</span>
          <span class="promo-hit__prop promo-hit__prop-value">15 см</span>
        </li>
      </ul>
      <div class="promo-hit__pict-wrapper">
        <a class="promo-hit__pict-link" href="knitted_baskets.html">
          <picture>
            <source media="(min-width: 1150px)" srcset="../../mishka/assets/img/triple-set-desktop@1x.jassets/img1x, ../../mishka/assets/img/triple-set-desktop@2x.jpg 2x">
            <source media="(min-width: 768px)" srcset="./assets/img/triple-set-tablet@1x.jassets/img1x, ./assets/img/triple-set-tablet@2x.jpg 2x">
            <img src="../../mishka/assets/img/triple-set-mobile@1x.jpg" srcset="../../mishka/assets/img/triple-set-mobile@2x.jpg 2x" alt="Вязаные корзинки" width="260" height="315" class="promo-hit__pict">
          </picture>
        </a>
      </div>

      <div class="promo-hit__price">Цена: 990 руб.</div>
      <div class="promo-hit__btn-wrapper">
        <input type="button" class="promo-hit__btn btn" value="Заказать">
      </div>
    </div>
  </div>
</section>
