<div class="catalog-nav">

  <ul class="catalog-nav__list">
    <li class="catalog-nav__item catalog-nav__item--interior">
      <svg width="63" height="63" class="icon-interior"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-interior"></use></svg>
      <a class="catalog-nav__link" href="interior.html">Предметы интерьера</a>
    </li>
    <li class="catalog-nav__item catalog-nav__item--toy">
      <svg width="60" height="60" class="icon-toy"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-toy"></use></svg>
      <a class="catalog-nav__link" href="toys.html">Детские игрушки</a>
    </li>
  </ul>

</div>
