.login {
  margin: 15px 15px 0 15px;
}
.mat-form-field {
  width: 100%;
}

@media (min-width: 768px) {
  .login {
    width: 50%;
    max-width: 500px;
    margin: 15px auto;
  }
}

@media (min-width: 1150px) {
  .login {
    width: 100%;
  }
}
