<footer class="page-footer">
  <div class="page-footer__wrapper">
    <div class="page-footer__logo">
      <a class="page-footer__logo-link"><svg class="icon-logo-footer" width="101.615px" height="34.056px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo-footer"></use></svg></a>
    </div>

    <div class="page-footer__socials socials">
      <a href="https://www.instagram.com/htmlacademy/" class="socials__icon socials__icon--insta">
        <svg class="icon-insta" width="21.769px" height="21.334px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-insta"></use></svg>
        Мы в Инстаграм</a>
      <a href="https://www.facebook.com/htmlacademy" class="socials__icon socials__icon--fb">
        <svg class="icon-facebook" width="14.962px" height="27.718px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use></svg>
        Мы в Фейсбуке</a>
      <a href="https://twitter.com/htmlacademy_ru" class="socials__icon socials__icon--twi">
        <svg class="icon-twitter" width="23.494px" height="20.168px" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use></svg>
        Мы в Твиттере</a>
    </div>

    <div class="page-footer__copyright">
      Разработано
      <a href="https://htmlacademy.ru/intensive/adaptive" class="page-footer__copyright-link">
        <svg class="icon-logo-htmlacademy" width="26.943px" height="34.09px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo-htmlacademy"></use></svg>
        HTML Academy</a>
    </div>
  </div>
</footer>
