.page-footer {
  background-color: #f1f1f1;
}
.page-footer__wrapper {
  padding: 0 30px;
  min-width: 260px;
  margin: 0 auto;
}
.page-footer__socials {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0;
  min-height: 75px;
  -ms-flex-align: center;
  align-items: center;
}
.page-footer__copyright-link {
  font-size: 0;
  height: 30px;
  width: 40px;
}
.page-footer__copyright {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  font-size: 19px;
  font-weight: bold;
  line-height: 18px;
  min-height: 75px;
  border-top: 1px solid #e5e5e5;
  padding: 0 25px 0 37px;
}
.page-footer__logo {
  display: none;
}
/*styleguide start*/
.page-footer__copyright:active {
  opacity: 0.3;
}
.page-footer__copyright-link .icon-logo-htmlacademy {
  fill: #63d1bb;
  margin: 0;
  /*margin: -3px 0 0 2px;*/
}
.page-footer__copyright-link .icon-logo-htmlacademy:hover {
  fill: #46c1ae;
}
.page-footer__copyright-link .icon-logo-htmlacademy:hover {
  opacity: 0.3;
}
.page-footer__logo-link .icon-logo-footer {
  visibility: hidden;
}
.page-footer__logo-link .icon-logo-footer:hover {
  fill: #46c1ae;
}
.page-footer__logo-link .icon-logo-footer:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .page-footer__wrapper {
    width: 670px;
    min-height: 140px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
  }
  .page-footer__socials {
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-width: 140px;
    padding: 0;
    padding-top: 10px;
  }
  .page-footer__copyright-link {
    height: 25px;
    width: 30px;
  }
  .page-footer__copyright {
    border: none;
    min-width: 185px;
    padding: 0;
    margin-top: 5px;
  }
  .page-footer__logo {
    cursor: pointer;
    display: block;
    padding: 0;
    min-width: 175px;
  }
  .page-footer__logo-link {
    display: block;
    padding: 0;
  }
  .page-footer__logo-link .icon-logo-footer {
    visibility: visible;
  }
}

@media (min-width: 1150px) {
  .page-footer__wrapper {
    width: auto;
    max-width: 1050px;
    min-height: 140px;
    padding: 0 30px;
  }
  .page-footer__socials {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
    min-width: 17%;
    max-width: 210px;
    margin-top: 4px;
  }
  .page-footer__copyright-link {
    margin-left: 27px;
  }
  .page-footer__copyright {
    -ms-flex-pack: end;
    justify-content: flex-end;
    min-width: 350px;
    padding: 0;
    margin: 0;
  }
  .page-footer__logo {
    min-width: 345px;
  }
}
