<section class="my-works">
  <h2 class="my-works__header">Мои работы</h2>
  <div class="my-works__wrapper-image">
    <figure>
      <a href="/projects/project-1/index.html" class="my-works__image-link">
        <picture>
          <source media="(min-width: 1150px)"
                  srcset="../img/Project_1_desktop.jpg 1x, ../img/Project_1_desktop@2x.jpg 2x">
          <source media="(min-width: 768px)"
                  srcset="../img/Project_1_tablet.jpg 1x, ../img/Project_1_tablet@2x.jpg 2x">
          <img src="../img/Project_1_mobile.jpg" srcset="../img/Project_1_mobile@2x.jpg 2x" class="my-works__image"
               alt="Ссылка на страницу с проектом Мишка" title="Проект Мишка" width="300" height="478">
        </picture>
      </a>
      <figcaption>
        <h3 class="my-works__image-figcaption"><a href="/projects/project-1/index.html"
                                                  class="my-works__image-figcaption-link">Проект “Мишка”</a></h3>
        <p class="my-works__about-tech">Вёрстка</p>
        <p class="my-works__about-learn">Учебный проект HTML-Академии</p>
      </figcaption>
    </figure>
  </div>

  <div class="my-works__wrapper-image">
    <figure>
      <a href="/projects/project-2/index.html" class="my-works__image-link">
        <picture>
          <source media="(min-width: 1150px)"
                  srcset="../img/Project_2_desktop.jpg 1x, ../img/Project_2_desktop@2x.jpg 2x">
          <source media="(min-width: 768px)"
                  srcset="../img/Project_2_tablet.jpg 1x, ../img/Project_2_tablet@2x.jpg 2x">
          <img src="../img/Project_2_mobile.jpg" srcset="../img/Project_2_mobile@2x.jpg 2x" class="my-works__image"
               alt="Ссылка на страницу с проектом Седона" title="Проект Седона" width="300" height="478">
        </picture>
      </a>
      <figcaption>
        <h3 class="my-works__image-figcaption"><a href="/projects/project-2/index.html"
                                                  class="my-works__image-figcaption-link">Проект “Седона”</a></h3>
        <p class="my-works__about-tech">Вёрстка</p>
        <p class="my-works__about-learn">Учебный проект HTML-Академии</p>
      </figcaption>
    </figure>
  </div>

  <div class="my-works__wrapper-image">
    <figure>
      <a href="/projects/project-3/index.html" class="my-works__image-link">
        <picture>
          <source media="(min-width: 1150px)"
                  srcset="../img/Project_3_desktop.jpg 1x, ../img/Project_3_desktop@2x.jpg 2x">
          <source media="(min-width: 768px)"
                  srcset="../img/Project_3_tablet.jpg 1x, ../img/Project_3_tablet@2x.jpg 2x">
          <img src="../img/Project_3_mobile.jpg" srcset="../img/Project_3_mobile@2x.jpg 2x" class="my-works__image"
               alt="Ссылка на страницу с проектом Affinage" title="Проект Affinage" width="300" height="478">
        </picture>
      </a>
      <figcaption>
        <h3 class="my-works__image-figcaption"><a href="/projects/project-2/index.html"
                                                  class="my-works__image-figcaption-link">Проект “Affinage”</a></h3>
        <p class="my-works__about-tech">Вёрстка, js-slider</p>
        <p class="my-works__about-learn">Тестовое задание компании Affinage. Бесполезно потерянное время</p>
      </figcaption>
    </figure>
  </div>
</section>
