<section class="my-works">
  <h2 class="my-works__header">Мои работы</h2>

  <div class="my-works__wrapper-image" *ngFor="let project of projects">
    <figure>
      <a href="{{project.route}}" class="my-works__image-link">
        <picture *ngFor="let image of project.images">
          <img src="{{image.src}}" srcset="{{image.srcset}} 2x" class="my-works__image"
               alt="{{image.alt}}" title="{{image.title}}" width="300" height="478">
        </picture>
      </a>
      <figcaption>
        <h3 class="my-works__image-figcaption"><a href="/projects/affinage"
                                                  class="my-works__image-figcaption-link">{{project.name}}</a></h3>
        <p class="my-works__about-tech">{{project.technologies}}</p>
        <p class="my-works__about-learn">{{project.description}}</p>
      </figcaption>
    </figure>
  </div>
</section>
