<section class="about-me">
  <h2 class="about-me__header">Обо мне. Обучение</h2>
  <div class="about-me__description">Увлёкся вёрсткой, обучаясь на <a href="https://htmlacademy.ru/">htmlacademy.ru</a>.
    Прошёл 4 интенсива:
    <ul>
      <li>«продвинутый HTML и CSS»</li>
      <li>«базовый javascript»</li>
      <li>«базовый PHP» (PHP. Профессиональная веб-разработка)</li>
      <li>PHP и Yii. Архитектура сложных веб-сервисов</li>
    </ul>
    Люблю бегать на лыжах, бегаю полумарафон. Женат</div>
</section>
