<section class="about-me">
  <h2 class="about-me__header">Обо мне. Технологии</h2>
  <div class="about-me__description">
    Владею следующими технологиями:
    <ul>
      <li>«продвинутый HTML и CSS»</li>
      <li>базовый уровень Javascript</li>
      <li>«базовый PHP» (PHP. Профессиональная веб-разработка)</li>
      <li>PHP и Yii. Архитектура сложных веб-сервисов</li>
      <li>Реальный опыт разработки на Angular 2 (v. 8^) с 2020 года</li>
    </ul>
    Веду активный образ жизни, не курю. Не навязываю свою точку зрения. Женат</div>
</section>
