<div class="add-to-cart add-to-cart--invisible">
  <form class="add-to-cart__form" id="add-to-cart__form" action="https://echo.htmlacademy.ru/" method="post">
    <h3 class="add-to-cart__title">Добавить в корзину</h3>
    <fieldset class="add-to-cart__group">

      <legend class="add-to-cart__text-hint">Выберите размер:</legend>

      <input type="radio" name="size" id="size-s" class="add-to-cart__prop-value" value="S" checked>
      <label for="size-s" class="add-to-cart__prop">S</label>

      <input type="radio" name="size" id="size-m" class="add-to-cart__prop-value" value="M">
      <label for="size-m" class="add-to-cart__prop">M</label>

      <input type="radio" name="size" id="size-l" class="add-to-cart__prop-value" value="L">
      <label for="size-l" class="add-to-cart__prop">L</label>

    </fieldset>
    <input type="submit" class="add-to-cart__add" value="Добавить">
  </form>
</div>
