.about-me {
  min-width: 300px;
  width: 90%;
  max-width: 530px;
  margin: 0 auto;
}

.about-me__header {
  margin: 28px 0 0;
}

.about-me__description {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    margin: 0;
}

@media @tablets {
  .about-me {
    flex-basis: 45%;
  }
}
