<section class="about-company">
  <h2 class="about-company__title">Коротко о нас:</h2>

  <ul class="about-company__list">
    <li class="about-company__item about-company__item--materials">Экологически чистые материалы</li>
    <li class="about-company__item about-company__item--style">Скандинавский стиль по российской цене</li>
    <li class="about-company__item about-company__item--likes">Увеличивает лайки на фотографиях</li>
    <li class="about-company__item about-company__item--madewithlove">Связано вручную с любовью и умилением</li>
    <li class="about-company__item about-company__item--support">Поддержка отечественного производителя</li>
    <li class="about-company__item about-company__item--gift">Поставляется в подарочной упаковке</li>
  </ul>

</section>
