<section class="contacts">
  <div class="contacts__wrapper">
    <div class="contacts__inner">
      <h2 class="contacts__title">Контакты</h2>

      <ul class="contacts__list">
        <li class="contacts__item">
          <span class="contacts__name">e-mail:</span>
          <span class="contacts__text">
                  <a class="contacts__link" href="mailto:info@mimimishkashop.ru">info@mimimishkashop.ru</a>
                </span>
        </li>
        <li class="contacts__item">
          <span class="contacts__name">адрес:</span>
          <span class="contacts__text">г. Санкт-Петербург, ул. Большая Конюшенная, д. 19/8, офис 101</span>
        </li>
      </ul>

    </div>

    <div class="contacts__map">
      <iframe class="contacts__map-frame" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d999.364376112064!2d30.3209514!3d59.936643!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310f8f62bb3f%3A0xdbd8ceddae86ceba!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDI5LCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTkxMTg2!5e0!3m2!1sru!2sru!4v1497013624864" width="320" height="458" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</section>
