.contacts {
  background-image: url("../../assets/img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: 6px top;
  background-size: 325px 10px;
}
.contacts__wrapper {
  margin: 0 auto;
}
.contacts__inner {
  padding: 20px 30px 0;
  min-height: 295px;
}
.contacts__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: table;
  font-size: 15px;
  color: #444444;
  line-height: 30px;
  padding: 5px 0;
}
.contacts__item {
  display: table-row;
}
.contacts__name {
  display: table-cell;
  min-width: 76px;
  padding: 0 0 30px;
}
.contacts__text {
  display: initial;
}
.contacts__title {
  margin: 2px 0 1px 0;
  font-size: 18px;
  line-height: 30px;
  padding: 20px 0 20px;
}
.contacts__map {
  height: 457px;
  background-image: url("../../assets/img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f3f1e9;
}
.contacts__link {
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  color: #444444;
  border-bottom: 1px solid #62d1ba;
}
/*************** styleguide start ******************/
.contacts__link:hover {
  color: #46c1ae;
}
.contacts__link:active {
  opacity: 0.3;
}
/*************** styleguide end ******************/

@media (min-width: 768px) {
  .contacts {
    background-position: 95px top;
    background-size: 770px 16px;
  }
  .contacts__wrapper {
    padding: 15px 0 0 0;
  }
  .contacts__inner {
    min-height: 240px;
    background-image: url("../../assets/img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: 92.7% 7%;
    padding: 0 45px;
    margin-top: 35px;
  }
  .contacts__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 17px;
    margin-top: 25px;
    padding: 5px 5px;
  }
  .contacts__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .contacts__name {
    display: initial;
  }
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    padding: 25px 0 20px;
    margin: 35px 0 0 0;
  }
  .contacts__map {
    background-image: url("../../assets/img/map-tablet@1x.jpg");
    margin-top: 30px;
  }
  .contacts__map-frame {
    width: 100%;
  }
  .contacts__link {
    font-size: 17px;
  }
}
@media (min-width: 1150px) {
  .contacts {
    background-position: 25px -4px;
    background-size: 1050px 30px;
    margin-bottom: 20px;
  }
  .contacts__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 1050px;
    padding: 50px 0 14px;
  }
  .contacts__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 300px;
    background-position: 63px 70px;
    padding: 0 0 0 170px;
  }
  .contacts__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 50px 0 0 5px;
    padding: 0;
  }
  .contacts__item {
    -ms-flex-preferred-size: initial;
    flex-basis: initial;
    padding-right: 20px;
  }
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    margin-top: 79px;
    padding: 0;
  }
  .contacts__map {
    width: 50%;
    margin-top: 45px;
    background-image: url("../../assets/img/map-desktop@1x.jpg");
  }
}
